$header-head-color: #617d92;

$primary-color: #2f488c;
$primary-color_dark: #00215e;
$primary-color_light: #6273bd;

$secondary-color: #424242;
$secondary-color_dark: #6d6d6d;
$secondary-color_ligth: #1b1b1b;

$primary-font-color: #ffffff;

$important-weight: 800;
$secondary-weight: 700;
